<header class="main-header bg-dark">
  <div class="container">
    <div class="row w-100">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 justify-content-between">
        <a href="<%= root_path %>" class="navbar-brand">Chit<span class="text-primary">Chat</span></a>
        <% if current_user %>
          <div class="d-flex align-items-center">
            <%= link_to "Browse", rooms_path, class: "btn btn-primary mr-3" %>

            <div class="dropdown">
              <a class="nav-link dropdown-toggle d-flex align-items-center p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar-container mr-2 rounded-circle overflow-hidden d-flex align-items-center justify-content-center bg-secondary">
                  <img src="<%= current_user.avatar.present? ? rails_representation_url(current_user.avatar.variant(resize_to_limit: [128, 128]).processed, only_path: true) : "/assets/default-avatar.png" %>" data-role="user-avatar" class="img-fluid">
                </div>
                <%= current_user.username %>
              </a>


              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </div>
          </div>
        <% end %>
      </nav>
    </div>
  </div>
</header>