<% if @rooms.present? %>
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Chatrooms</h3>
    <%= link_to "Reload", request.url, class: "btn btn-primary" %>
  </div>
  <div class="room-list rounded overflow-hidden border border-dark">
    <% @rooms.each do |room| %>
      <%= link_to room_path(room), class: "room-list-item" do %>
        <div class="p-2 d-flex">
          <i class="fa-solid fa-chevron-right d-flex align-items-center pr-2"></i>
          <div>
            <p class="mb-0 h5"><%= room.name %></p>
            <p class="mb-0"><%= room.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="text-muted">There are currently no chatrooms available.</p>
<% end %>
