
<div class="chat-wrapper flex-grow-1 flex-shrink-1">
  <div class="chat">
    <div class="messages px-3" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
    
      <% @room_messages.each do |room_message| %>

        <div class="chat-message-container d-flex py-2">
          <div class="avatar-container mr-2 rounded-circle overflow-hidden d-flex align-items-center justify-content-center bg-dark">
            <img src="<%= room_message.user.avatar.present? ? rails_representation_url(room_message.user.avatar.variant(resize_to_limit: [128, 128]).processed, only_path: true) : "/assets/default-avatar.png" %>" data-role="user-avatar" class="img-fluid">
          </div>

          <div class="chat-message-content">
            <p class="mb-0">
              <span class="username font-weight-bold"><%= room_message.user.username %></span>
              <small class="timestamp text-muted"><%= room_message.created_at %></small>
            </p>
            <p class="mb-0"><%= room_message.message %></p>
          </div>
        </div>

      <% end %>
    
    </div>
  </div>
</div>

<%= simple_form_for @room_message, remote: true do |form| %>
  <div class="input-group mb-3">
    <%= form.input :message, as: :string, 
                              wrapper: false, 
                              label: false, 
                              input_html: { 
                                class: "chat-input",
                                autocomplete: "off"
                              } %>
    
    <div class="input-group-append">
      <%= form.submit "Send", class: "btn btn-primary chat-input" %>
    </div>
  </div>

  <%= form.input :room_id, as: :hidden %>
<% end %>


<div class="d-none" data-role="message-template">
  <div class="chat-message-container d-flex py-2">
    <div class="avatar-container mr-2 rounded-circle overflow-hidden d-flex align-items-center justify-content-center bg-dark">
      <img src="/assets/default-avatar.png" data-role="user-avatar" class="img-fluid">
    </div>

    <div class="chat-message-content">
      <p class="mb-0">
        <span class="username font-weight-bold" data-role="message-username"></span>
        <small class="date text-muted" data-role="message-date"></small>
      </p>
      <p class="mb-0 message-text" data-role="message-text"></p>
    </div>
  </div>
</div>