// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.landing-page-controls{
	margin: 0 auto;
	max-width: 320px;
}