// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Styles for list of chat rooms
.room-list {
	background: lighten($dark, 20%);
	
	.room-list-item {
		color: $light;
		display: block;
		text-decoration: none;

		& + .room-list-item {
			border-top: 1px solid $dark;
		}
		
		&:hover {
			background: $dark;
		}
	}
}

// Chat room styles
.chat-wrapper {
	position: relative;
	overflow: hidden;

	background: lighten($secondary, 50%);
	border: 1px solid lighten($secondary, 40%);
	border-bottom: 0;

	border-radius: 0.25rem 0.25rem 0 0;

	& + form .chat-input {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.chat {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-y: scroll;
		display: flex;
		flex-direction: column-reverse;



		

		.avatar-container {
			min-width: 48px;
			width: 48px;
			height: 48px;
		}
	}
}