<div class="landing-page-controls">
	<div class="d-flex flex-column align-items-center m-3">
		<h1 class="flex-grow-1 flex-shrink-1">Chit<span class="text-primary">Chat</span></h1>
		<p class="text-center">Please log in or sign up to start chatting.</p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-primary w-100" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-dark w-100 mt-3" %>
	</div>
</div>