<!DOCTYPE html>
<html>
  <head>
    <title>ChitChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/header" %>

    <div class="container flex-grow-1 flex-shrink-1 d-flex flex-column">
      
      <div class="row">
        <div class="col-12">
          <%= render partial: "shared/flash_messages" %>
        </div>
      </div>

      <div class="row flex-grow-1 flex-shrink-1">
        <div class="col-12 d-flex flex-column">
          <%= yield %>
        </div>
      </div>
      
    </div>
    
  </body>
</html>
